<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Nombre de tweet</p>
                      <h3 class="card-title" *ngIf="infos">{{infos?.totalTweets}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Sur les 7 derniers jours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Moyenne des retweet</p>
                      <h3 class="card-title" *ngIf="infos">{{infos?.moyRetweet}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Sur les 7 derniers jours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <p class="card-category">Moyenne de followers</p>
                <h3 class="card-title" *ngIf="infos">{{infos?.moyFollowers}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Sur les 7 derniers jours
                </div>
              </div>
            </div>
          </div>
          <div class="hidden-md hidden-xs col-lg-2"></div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <p class="card-category">Couverture directe possible</p>
                <h3 class="card-title" *ngIf="infos">{{infos?.totalFollowers}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Sur les 7 derniers jours
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="fa fa-twitter"></i>
              </div>
              <p class="card-category">Couverture moyenne possible</p>
              <h3 class="card-title" *ngIf="infos">{{infos?.moyCoverage}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Sur les 7 derniers jours
              </div>
            </div>
          </div>
        </div>
          <div class="hidden-md hidden-xs col-lg-2"></div>
        </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header">
                    <ngx-charts-bar-vertical
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="pays?.countries"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header fix">
                    <ngx-charts-pie-grid
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="line2">
                    </ngx-charts-pie-grid>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
